<div style="display: grid; grid-template-columns: 1fr 2fr; gap: 1rem">
    <div>
        <h2>Categories</h2>
        <table>
            <thead>
                <tr>
                    <td>Name / Description</td>
                </tr>
            </thead>
            <tbody>
                @for r in res
                <tr
                    class="hand"
                    hx-get="/products/${r['categoryid']}"
                    hx-target="#products"
                >
                    <td>
                        <div><b>${r["categoryname"]}</b></div>
                        <div class="note">${r["description"]}</div>
                    </td>
                </tr>
                @end
            </tbody>
        </table>
    </div>
    <div id="products">-- products displayed --</div>
</div>
